@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  padding: 25px 50px 25px 50px;
  background-color: #38ada9; }
  header nav .container-fluid .cv-launge {
    width: 350px; }
    header nav .container-fluid .cv-launge .dropdown {
      margin-right: 15px; }
      header nav .container-fluid .cv-launge .dropdown .btn-toggle-color {
        background-color: #0278ae;
        color: white;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        header nav .container-fluid .cv-launge .dropdown .btn-toggle-color:hover {
          background-color: white;
          color: #0278ae;
          border: 2px solid #0278ae; }
      header nav .container-fluid .cv-launge .dropdown .dropdown-menu li a img {
        margin-right: 2px; }
    header nav .container-fluid .cv-launge .add-Cv .add-cv-item {
      text-decoration: none;
      background-color: #0278ae;
      color: white;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      header nav .container-fluid .cv-launge .add-Cv .add-cv-item:hover {
        background-color: white;
        color: #0278ae;
        border: 2px solid #0278ae; }
    header nav .container-fluid .cv-launge .add-Cv .heart-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      text-decoration: none; }
      header nav .container-fluid .cv-launge .add-Cv .heart-icon .heart-right {
        background-color: #0278ae;
        color: white;
        line-height: 20px;
        padding: 10px;
        border-radius: 50%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        header nav .container-fluid .cv-launge .add-Cv .heart-icon .heart-right:hover {
          background-color: white;
          color: #0278ae;
          border: 2px solid #0278ae; }

.container .text-center .newera {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #0278ae;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .container .text-center .newera:hover {
    background-color: white;
    color: #0278ae;
    border: 2px solid #0278ae; }

@media only screen and (max-width: 720px) {
  header nav .container-fluid a {
    font-weight: bold; }
  header nav .container-fluid .cv-launge {
    width: 250px;
    margin-top: 15px; }
    header nav .container-fluid .cv-launge .dropdown .btn-toggle-color {
      height: 30px;
      width: 80px;
      font-size: 12px; }
    header nav .container-fluid .cv-launge .add-Cv .add-cv-item {
      width: 170px;
      height: 30px;
      padding: 5px 1px 0px 1px;
      margin-top: 5px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px;
      margin-right: 2px; }
      header nav .container-fluid .cv-launge .add-Cv .add-cv-item i {
        font-size: 12px; }
    header nav .container-fluid .cv-launge .add-Cv .heart-icon {
      font-size: 12px; }
      header nav .container-fluid .cv-launge .add-Cv .heart-icon .heart-right {
        width: 30px;
        height: 30px;
        padding: 5px;
        margin-top: 5px; } }
@media only screen and (max-width: 600px) {
  header nav .container-fluid a {
    font-size: 15px;
    font-weight: bold; }
    header nav .container-fluid a img {
      width: 50px;
      height: 40px; }
  header nav .container-fluid .cv-launge {
    width: 240px;
    margin-top: 15px;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none; }
    header nav .container-fluid .cv-launge .dropdown .btn-toggle-color {
      height: 25px;
      width: 70px;
      font-size: 10px; }
    header nav .container-fluid .cv-launge .add-Cv .add-cv-item {
      width: 170px;
      height: 25px;
      font-size: 10px; } }
a:hover {
  text-decoration: none; }

.header-bottom {
  background-color: #a5ecd7;
  padding: 20px;
  color: #fff; }
  .header-bottom .bottom-link {
    color: #fff;
    padding: 10px;
    font-weight: bold; }
    .header-bottom .bottom-link:hover {
      text-decoration: none; }

.search-box {
  -webkit-box-shadow: 0px 8px 14px -4px #aaaaaa;
  box-shadow: 0px 8px 14px -4px #aaaaaa;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px; }
  .search-box i {
    color: #0278ae;
    font-size: 20px; }
  .search-box input {
    width: 70%;
    outline: none;
    padding: 8px;
    border: none; }
  .search-box .search-btn {
    padding: 10px;
    background-color: #0278ae;
    color: #fff;
    width: 100px;
    margin: auto 10px;
    border: 1px solid #0278ae;
    border-radius: 6px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .search-box .search-btn:hover {
      background-color: #fff;
      color: #0278ae;
      border: 1px solid #0278ae;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      text-decoration: none; }
  .search-box .more-btn {
    color: #aaa; }
    .search-box .more-btn i {
      color: #aaa;
      margin: auto 10px; }
    .search-box .more-btn:hover {
      text-decoration: none; }

.section-h1 h1 {
  font-size: 20px;
  margin-left: -15px;
  border-bottom: 2px solid #0278ae;
  padding-bottom: 15px; }

.section-gray {
  background-color: #f1f8fb;
  padding: 20px; }
  .section-gray ul li {
    text-align: center;
    list-style: none;
    padding: 10px; }
    .section-gray ul li a {
      color: #000; }
      .section-gray ul li a span {
        margin: auto 10px;
        color: #0278ae; }
      .section-gray ul li a:hover {
        color: #0278ae; }

.logoname {
  color: #ed7a18;
  font-weight: bold;
  font-size: 23px;
  position: absolute;
  bottom: 0; }

.site-h2 {
  margin-top: 30px;
  font-size: 20px;
  border-bottom: 2px solid #0278ae;
  padding-bottom: 10px; }
  .site-h2 a {
    font-size: 18px; }

.vacancy-box {
  margin: 30px 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 22px -9px #aaaaaa;
  box-shadow: 0px 1px 22px -9px #aaaaaa;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1); }
  .vacancy-box:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

.box-img img {
  width: 100px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 30px auto; }

.box-text {
  margin: 0px; }

.box-text h3 {
  font-size: 20px;
  line-height: 26px;
  margin-top: 20px; }

.box-text h4 {
  font-size: 16px;
  color: #9C9C9C; }

.box-text p {
  color: #0278ae;
  margin-top: 20px;
  font-weight: bold;
  display: inline; }

.heart-second {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  color: #9c9c9c; }

.heart-first {
  color: #0278ae; }

.heart-fav {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0278ae !important;
  color: #fff !important; }

.box-btn {
  margin: 0; }

.box-btn a {
  position: absolute;
  bottom: 0px;
  right: 10px; }
  .box-btn a:hover {
    color: #9c9c9c; }

.box-btn i {
  position: absolute;
  top: 0;
  right: 0; }

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .button-box a {
    color: #0278ae;
    margin: 30px auto;
    font-weight: bold;
    font-size: 20px; }

.blog-img {
  position: relative;
  float: left;
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  overflow: hidden; }

.blog-box {
  cursor: pointer;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 34px -6px #aaaaaa;
  box-shadow: 2px 3px 34px -6px #aaaaaa; }
  .blog-box img {
    position: relative;
    float: left;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .blog-box img:hover {
      -webkit-transform: scale(1.06);
      transform: scale(1.06); }
  .blog-box .blog-text {
    padding: 15px; }
    .blog-box .blog-text h4 {
      margin-top: 70%;
      margin-bottom: 20px;
      font-size: 17px;
      padding-bottom: 20px; }
    .blog-box .blog-text a {
      font-size: 15px; }
    .blog-box .blog-text span {
      font-size: 15px;
      float: right;
      color: #9c9c9c; }

footer {
  background-color: #071C40; }

.footer-top {
  background-color: #071C40;
  padding: 40px;
  color: #fff; }
  .footer-top h4 {
    font-size: 17px; }
  .footer-top ul li {
    list-style: none;
    padding: 5px; }
    .footer-top ul li a {
      color: #ddd; }
      .footer-top ul li a:hover {
        color: #0278ae; }
  .footer-top .social-footer li {
    display: inline-block;
    background-color: #0278ae;
    color: #fff;
    border-radius: 50%;
    padding-left: 16px;
    padding-top: 12px;
    font-size: 18px;
    width: 50px;
    margin: 5px;
    height: 50px;
    border: 1px solid #0278ae;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .footer-top .social-footer li:hover {
      cursor: pointer;
      background-color: #fff;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .footer-top .social-footer li:hover i {
        color: #0278ae; }

.cv-type {
  background-color: #f3f6f9;
  color: #9c9c9c !important;
  padding: 3px;
  width: 100px;
  margin: 0px !Important;
  border-radius: 6px; }

.hr-footer {
  background-color: #0278ae;
  height: 1px !important; }

.footer-bottom {
  color: #fff; }
  .footer-bottom p {
    float: right; }

.vacancy-profile {
  border-radius: 50%;
  width: 170px;
  -o-object-fit: contain;
     object-fit: contain; }

.vacancy-main {
  margin-top: 20px; }
  .vacancy-main h1 {
    font-size: 25px; }

.vacancy-salary {
  margin: 30px 0px; }
  .vacancy-salary span {
    background-color: #0278ae;
    color: #fff;
    padding: 15px;
    border-radius: 6px; }

.heart-right {
  background-color: #f3f6f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #0278ae;
  cursor: pointer;
  padding: 12px; }

.view-count {
  margin-top: 30px; }

.vacancy-property li {
  list-style: none;
  padding: 10px; }
  .vacancy-property li span {
    margin-right: 50px; }

.apply-box {
  display: none;
  -webkit-box-shadow: -2px 1px 13px -2px #bbbbbb;
  box-shadow: -2px 1px 13px -2px #bbbbbb;
  margin: 30px auto;
  padding: 30px;
  border-radius: 6px; }
  .apply-box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 4px;
    border: 2px solid #f3f6f9;
    outline: none; }
  .apply-box h5 {
    text-align: center;
    color: #0278ae; }

.btn-apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-apply button {
    padding: 5px 20px;
    background-color: #0278ae;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer; }
    .btn-apply button:hover {
      background-color: #039be0; }

.apply {
  background-color: #0278ae;
  color: #fff !important;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px; }
  .apply:hover {
    background-color: #039be0;
    color: #fff; }

.more-section-more {
  margin: 20px; }
  .more-section-more p {
    color: dimgray; }

.add-cv-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .add-cv-box form {
    border-radius: 6px;
    margin: 40px auto;
    padding: 30px;
    width: 100%;
    background-color: #a1d3e5;
    -webkit-box-shadow: 0px 2px 13px -1px #17acef;
    box-shadow: 0px 2px 13px -1px #17acef; }
    .add-cv-box form Copy Text label {
      width: 100%;
      margin: 10px auto; }
    .add-cv-box form label {
      color: #fff;
      margin-top: 20px !important; }
    .add-cv-box form input,
    .add-cv-box form textarea,
    .add-cv-box form select {
      width: 100%;
      padding: 6px;
      border-radius: 6px;
      border: none;
      outline: none; }
    .add-cv-box form select {
      padding: 9px; }
    .add-cv-box form button {
      padding: 7px 10px;
      margin: 20px auto;
      border-radius: 6px;
      background-color: #0278ae;
      border: none;
      color: #fff; }
      .add-cv-box form button:hover {
        background-color: #014462;
        cursor: pointer; }

.btn-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.cv-add-h1 {
  width: 100%;
  font-size: 25px;
  margin-top: 10%;
  text-align: center; }

.filter_page_filter {
  padding: 20px;
  margin: 30px; }
  .filter_page_filter select {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 13px -7px black;
    box-shadow: 0px 2px 13px -7px black; }

.etrafli-axtaris {
  display: none; }

.cross-right {
  cursor: pointer; }

.search_results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .search_results button {
    margin: 10px;
    padding: 2px 10px;
    color: #fff;
    background-color: #0278ae;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none; }
    .search_results button:hover {
      background-color: #01557c; }

@media only screen and (max-width: 575px) {
  .header-top-right {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; } }
.search_checks span {
  color: #9c9c9c; }

.single-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  -webkit-box-shadow: 2px 3px 34px -6px #aaaaaa;
  box-shadow: 2px 3px 34px -6px #aaaaaa;
  margin: 20px; }
  .single-blog img {
    width: 100%; }
  .single-blog h1 {
    font-size: 25px;
    text-align: center;
    margin: 20px auto; }
  .single-blog p {
    padding: 10px;
    text-align: justify;
    color: #434141; }

.carousel-nav-icon {
  height: 48px;
  width: 48px; }

.carousel-item .col,
.carousel-item .col-sm,
.carousel-item .col-md {
  margin: 8px;
  height: 300px;
  background-size: cover;
  background-position: center center; }

.bi_desc ol li {
  width: 90%;
  margin-top: 15px;
  list-style-type: decimal;
  font-size: 18px;
  font-weight: 300;
  color: #454545;
  margin-left: 20px; }

.title_right {
  margin: 30px auto;
  width: 200px;
  border: none;
  -webkit-box-shadow: 2px 3px 34px -6px #aaaaaa;
  box-shadow: 2px 3px 34px -6px #aaaaaa; }
  .title_right select {
    cursor: pointer;
    border: none;
    padding: 5px;
    outline: none; }

.nav-t {
  margin-bottom: 1.25rem;
  margin-left: 0;
  list-style: none; }

.nav-t > li > a {
  display: block; }

.nav-tabs {
  *zoom: 1; }

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: ""; }

.nav-tabs:after {
  clear: both; }

.nav-tabs > li {
  float: left; }

.nav-tabs > li > a {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 0.1rem;
  line-height: 1rem; }

.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none !important; }

.nav-tabs > li {
  margin-bottom: -1px; }

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.25rem;
  border-radius: 6px;
  margin: 10px;
  border: 1px solid #0278ae;
  background-color: #fff;
  color: #0278ae; }

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border: 1px solid #039be0;
  background-color: #039be0;
  color: #fff; }

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  cursor: default;
  background-color: #0278ae;
  border: 1px solid #0278ae;
  color: #fff;
  border-radius: 6px;
  margin: 10px; }

.tab-content.active {
  display: block; }

.tab-content.hide {
  display: none; }

.all-rules {
  font-size: 28px; }

.flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .flex-img img {
    width: 100%;
    padding: 10px; }

.whatsapp-contact {
  display: none; }

.whatsap-contact {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999; }

.whatsap-contact a i {
  background-color: #25D366;
  color: #fff;
  padding: 20px;
  font-size: 35px;
  border-radius: 50%;
  margin: 10px;
  width: 80px;
  height: 80px;
  padding-left: 25px; }

/* ---------- Social Sidebar ---------- */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

#social-sidebar {
  left: 0;
  margin-top: -75px;
  position: fixed;
  top: 50%;
  z-index: 9999; }
  #social-sidebar li:first-child a {
    border-radius: 0 5px 0 0; }
  #social-sidebar li:last-child a {
    border-radius: 0 0 5px 0; }
  #social-sidebar a {
    background: #121212;
    color: #fff;
    display: block;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 50px; }
    #social-sidebar a:hover span {
      left: 130%;
      opacity: 1; }
    #social-sidebar a span {
      border-radius: 3px;
      line-height: 24px;
      left: -100%;
      margin-top: -16px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      padding: 4px 8px;
      position: absolute;
      -webkit-transition: opacity .3s, left .4s;
      transition: opacity .3s, left .4s;
      top: 50%;
      white-space: nowrap;
      z-index: -1; }
      #social-sidebar a span:before {
        content: "";
        display: block;
        height: 8px;
        left: -4px;
        margin-top: -4px;
        position: absolute;
        top: 50%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 8px;
        z-index: -2; }
  #social-sidebar a[class*="facebook"] {
    background: #3455aa; }
    #social-sidebar a[class*="facebook"]:hover {
      background: #3455aa; }
    #social-sidebar a[class*="facebook"] span {
      background: #3455aa; }
      #social-sidebar a[class*="facebook"] span:before {
        background: #3455aa; }
  #social-sidebar a[class*="twitter"] {
    background: #00aced; }
    #social-sidebar a[class*="twitter"]:hover {
      background: #00aced; }
    #social-sidebar a[class*="twitter"] span {
      background: #00aced; }
      #social-sidebar a[class*="twitter"] span:before {
        background: #00aced; }
  #social-sidebar a[class*="gplus"] {
    background: #25D366; }
    #social-sidebar a[class*="gplus"]:hover {
      background: #25D366; }
    #social-sidebar a[class*="gplus"] span {
      background: #25D366; }
      #social-sidebar a[class*="gplus"] span:before {
        background: #25D366; }
  #social-sidebar a[class*="github"] {
    background: #323131; }
    #social-sidebar a[class*="github"]:hover {
      background: #323131; }
    #social-sidebar a[class*="github"] span {
      background: #323131; }
      #social-sidebar a[class*="github"] span:before {
        background: #323131; }
  #social-sidebar a[class*="rss"] {
    background: #f69536; }
    #social-sidebar a[class*="rss"]:hover {
      background: #f69536; }
    #social-sidebar a[class*="rss"] span {
      background: #f69536; }
      #social-sidebar a[class*="rss"] span:before {
        background: #f69536; }

.new-vacancy {
  background: red;
  width: 35px;
  height: 35px;
  position: absolute;
  text-align: center;
  top: -10px;
  left: 0px; }

.new-vacancy span {
  position: absolute;
  z-index: 100000;
  color: #fff;
  left: 0;
  top: 5px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg); }

.new-vacancy:before,
.new-vacancy:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background: red; }

.new-vacancy:before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }

.new-vacancy:after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }

.part-intern {
  padding: 20px;
  margin: 10%;
  color: #0278ae;
  -webkit-box-shadow: 1px 2px 11px -2px #dddddd;
  box-shadow: 1px 2px 11px -2px #dddddd; }

body {
  font-family: 'Lato', sans-serif; }

.form {
  width: 400px; }

.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 60px; }
  .file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300; }
  .file-upload-wrapper:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0; }
  .file-upload-wrapper:hover:before {
    background: #3d8c63; }
  .file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%; }

/*# sourceMappingURL=style.css.map */